@model FashionShop.Models.EF.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datebegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datebegin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
