@model IEnumerable<FashionShop.Models.EF.Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

@section _Header
{
    <link href="~/Content/admin/Css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/admin/Css/dataTables.responsive.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản lý Menu</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bảng dữ liệu menus
            </div>
            <!-- /.panel-heading -->
            <div style="margin-bottom:10px; margin-top:15px; float:right; margin-right:20px">
                <a href="@Url.Action("Create", "Menus")">Thêm danh mục</a>
            </div><div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th style="width:300px">Tên danh mục</th>
                            <th>Meta</th>
                            <th>Vị trí</th>
                            <th>Ngày tạo</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var number = 1;}

                        @foreach (var item in Model)
                        {
                            <tr class="odd gradeX">
                                <td>
                                    @Html.Raw(number++)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.MenuName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Meta)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Order)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Datebegin)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

@section _Footer
{
    <script src="~/Content/admin/Js/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin/Js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                reponsive: true;
            })
        });
    </script>
}